@font-face {
  font-family: "Trends";
  src: url("./Assets/Trends.ttf");
}

@font-face {
  font-family: "News";
  src: url("./Assets/Front Page News.otf");
}

@font-face {
  font-family: "chunky";
  src: url("./Assets/bold.ttf");
}

/* All */

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  width: 100vw
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header and nav */

.titleSection {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  justify-self: flex-start;
}

.mainTitle {
  width: 100%;
  font-family: News;
  align-self: center;
  justify-self: center;
}

.loggedInAs {
  align-self: flex-end;
}

.loginButton {
  margin-top: 10px;
  margin-left: 10px;
}

.navButtons {
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 25px;
  margin-bottom: 20px;
}

.navButtons button {
  background-color:white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 25px;
  margin-bottom: 20px;
}

.navButtons button:hover {
  background-color: blueviolet; 
  color: white;
}

#singleArticleHeader {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.headerSection {
  background-color: aqua;
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#signOut {
  margin-left: 25px;
}

/* all articles page */

.articlesList {
 justify-self: flex-start;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  align-self: center;
  margin-left: 25px;
 
}

#articleHeader {
  font-family: Trends;
  margin-left: 25px;
}

.articlesCard {
  background-color:lightsteelblue;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.articlesCard h3 {
  margin-top: 10px;
}

.articlesCard Link {
  margin-bottom: 10px;
}

.articleSorter{
  margin-left: 10px;
}

/* Single article page */

.singleArticleBody {
  margin-right: 20px;
  margin-left: 20px;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100vw;

}

#singleArticleImg {
  width: 50%;
}

.articleStats {
  align-self: center;
  background-color: black;
  margin-left: 15px;
  border-radius: 20px;
  width: 400px;
  align-content: center;
  justify-content: center;
}

.articleStats button {
  align-self: center;
  justify-self: center;
  align-content: center;
  margin-left: 100px;
}

.statsText {
  color: white;
  justify-self: center;

}

/* Homepage */


.trendingArticlesSection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-family: Trends;
  background-color:steelblue;
  width: 100vw;
}

.trendingArticlesSection h2 {
  margin-left: 25px;
  margin-top: 25px;
}

.trendingArticlesSection button {
  background-color:white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 25px;
  margin-bottom: 20px;
 
}

.trendingArticlesSection button:hover {
  background-color: #04AA6D; 
  color: white;
}

.trendingTopicsSection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  font-family: Trends;
  background-color:ghostwhite
}

.trendingTopicsSection h2 {
  margin-left: 25px;
  margin-top: 25px;

}

.trendingTopicsSection button {
  background-color:steelblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 25px;
  margin-bottom: 20px;

}

.trendingTopicsSection button:hover {
  background-color: #04AA6D; 
  color: white;
}

/* Comments page */


.commentBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.commentsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

.commentsCard {
  margin-right: 10px;
  background-color: whitesmoke;
  display: inline-block;
  height: fit-content;
  width: 400px;
  padding: 20px;

}

.postCommentBox {
  justify-self: flex-start;
  align-self: flex-start;
}

.commentsBox {
  color:  black;
  background-color:white;
  border: 10px solid black;
}

.commentsBox p {
  margin-left: 20px;
}

/* Login Page */

.userAvatar {
  height: 100px;
  width: 100px;
}

.loginHeader {
  display: flex;
  flex-direction: row;
}

/* Not found page */

.notFound { 
text-align: center;
margin-top:'50px' ;
}

/* Post/manage Page */


.manageArticleCard {
  background-color:whitesmoke;
  border-radius: 25px;
}

.manageArticleCard p {
  margin-top: 10px;
  margin-left: 10px;
}

.manageArticleCard button {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.postHeader {
  font-family: Trends;
}

/* Topics Page */


.topicPage {
  margin-right: 20px;
  margin-left: 20px;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100vw;
}

.topicPage h2 {
  margin-left: 50px;
  align-self: flex-start;
  font-family: Trends;
}

.topicPageList {
  margin-left: 100px;
  justify-self: flex-start;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  align-self: center;

}